@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  b.w-element {
    font-weight: 700;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
  }
  body.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h1.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h2.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h4.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  hr.w-element {
    height: 0;
    color: inherit;
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  span.w-element {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  body.w-body {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  nav.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-text {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em
  }
  a.w-link {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: inline-block
  }
  img.w-image {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  span.w-text-1 {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-tooltip-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-dialog-overlay {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-dialog-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  p.w-dialog-description {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-close-button {
    background-color: transparent;
    background-image: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    text-transform: none;
    border: 1px solid rgba(226, 232, 240, 1);
    margin: 0;
    padding: 0px
  }
  div.w-tabs {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-tabs-list {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  button.w-tab-trigger {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    text-transform: none;
    background-color: transparent;
    background-image: none;
    border: 0px solid rgba(226, 232, 240, 1);
    margin: 0;
    padding: 0px
  }
  div.w-tab-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-accordion {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  div.w-item {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
  h3.w-item-header {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px
  }
  button.w-item-trigger {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    text-transform: none;
    background-color: transparent;
    background-image: none;
    border: 0px solid rgba(226, 232, 240, 1);
    margin: 0;
    padding: 0px
  }
  div.w-item-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px
  }
}
@media all {
  :root {
    --gap1: 14px;
    --gap2: 10px;
    --rad1: 18px;
    --rad2: 8px;
    --back-red-1: rgba(237, 104, 115, 1);
    --back-red-2: unset;
    --back-grey-1: rgba(233, 233, 233, 1);
    --back-grey-2: rgba(244, 244, 244, 1);
    --front-red-1: rgba(242, 68, 74, 1);
    --front-red-2: unset;
    --front-1: rgba(58, 58, 58, 1);
    --front-2: rgba(99, 99, 99, 1);
    --front-3: rgba(136, 136, 136, 1);
    --background: rgba(255, 255, 255, 1);
    font-family: Rubik, Arial, Roboto, sans-serif;
    color: var(--front-1);
    font-size: 20px;
    line-height: 1.4
  }
  .c3q79or {
    margin-left: var(--gap1)
  }
  .cqlg791 {
    margin-right: var(--gap1)
  }
  .c1fhonxu {
    margin-top: var(--gap1)
  }
  .ci03eyw {
    display: flex
  }
  .cu8ogtt {
    flex-direction: column
  }
  .c1nj86ny {
    justify-content: space-between
  }
  .c1hj4una {
    --topheight: 57vh
  }
  .c859cl6 {
    --bottomheight: 62vh
  }
  .c1sebhbp {
    min-height: 650px
  }
  .c1ptsxkm {
    height: calc(100vh - calc(2 * var(--gap1)))
  }
  .c1dix99q {
    max-height: 950px
  }
  .c1vu5acx {
    height: var(--topheight)
  }
  .cd3toq {
    border-top-left-radius: var(--rad1)
  }
  .c17nm8vt {
    border-top-right-radius: var(--rad1)
  }
  .c1xymrvd {
    border-bottom-left-radius: var(--rad1)
  }
  .c8yo8yx {
    border-bottom-right-radius: var(--rad1)
  }
  .c1duce4z {
    min-height: 300px
  }
  .c1171g5c {
    --icon-background-opacity: 6%
  }
  .cji7xkv {
    transition-property: height
  }
  .c40iywk {
    transition-duration: 200ms
  }
  .codsd31 {
    transition-timing-function: ease
  }
  .c16er72m {
    transition-delay: 0ms
  }
  .c1qt5xo2 {
    transition-behavior: normal
  }
  .c9uhbgw {
    width: 84%
  }
  .ctrhycw {
    height: var(--bottomheight)
  }
  .cda4yqq {
    flex-grow: 0
  }
  .c767uka {
    flex-shrink: 0
  }
  .cdzo1k7 {
    background-color: var(--background)
  }
  .c1w0yra6 {
    margin-left: auto
  }
  .cpq2gwm {
    margin-right: auto
  }
  .chfxkqq {
    column-gap: var(--gap2)
  }
  .cvm9uv1 {
    row-gap: var(--gap2)
  }
  .c1bg833b {
    padding-top: var(--gap2)
  }
  .c1j0nlio {
    padding-right: var(--gap2)
  }
  .c1e4l0yv {
    padding-left: var(--gap2)
  }
  .c1h2mtua {
    max-height: 550px
  }
  .c1o388ql {
    min-height: 440px
  }
  .c1cyyop6 {
    min-width: 850px
  }
  .c16za6ul {
    max-width: 1120px
  }
  .ceiem4c {
    z-index: 1
  }
  .cnkevhm {
    position: relative
  }
  .c1ehrzp {
    margin-top: -503px
  }
  .c1lzvaoj {
    max-width: 100vw
  }
  .cm1ds2c {
    overflow-x: hidden
  }
  .c1qux398 {
    min-height: 100vh
  }
  .ck11ylk {
    flex-grow: 1
  }
  .c19haj7v {
    flex-shrink: 1
  }
  .cirsbpr {
    flex-basis: 40%
  }
  .c1dohq8s {
    align-self: stretch
  }
  .cprdnmx {
    margin-bottom: calc(var(--gap1) + var(--topheight) + var(--bottomheight) - 98vh)
  }
  .c1bti4b5 {
    justify-content: center
  }
  .cgiudld {
    column-gap: 16px
  }
  .c1xj8ubg {
    row-gap: 16px
  }
  .cg3nt0s {
    margin-left: 50px
  }
  .c74dsfz {
    margin-right: 50px
  }
  .czgmbqe {
    color: rgba(255, 255, 255, 1)
  }
  .cyoo8jj {
    text-align: center
  }
  .c1wwlxnr {
    font-size: 1.3em
  }
  .cje5w08 {
    margin-bottom: 15px
  }
  .c1k74xht {
    -webkit-user-select: none;
    user-select: none
  }
  .cimns5a {
    font-family: Rubik, Arial, Roboto, sans-serif
  }
  .c1dxr3mf {
    padding-top: 80px
  }
  .c3brmnq {
    padding-bottom: 20px
  }
  .cqaj6f4 {
    column-gap: 20px
  }
  .c16lfnyl {
    row-gap: 20px
  }
  .c1v4vkm5 {
    align-items: center
  }
  .c10pf28n {
    padding-bottom: 10px
  }
  .c6775s7 {
    padding-left: 20px
  }
  .ct2w13i {
    padding-right: 20px
  }
  .c1kmtbg4 {
    background-color: var(--front-red-1)
  }
  .c341g64 {
    border-top-color: rgba(255, 255, 255, 1)
  }
  .c11h9c5s {
    border-right-color: rgba(255, 255, 255, 1)
  }
  .c17hd63g {
    border-bottom-color: rgba(255, 255, 255, 1)
  }
  .cnrv5xy {
    border-left-color: rgba(255, 255, 255, 1)
  }
  .c1ho4waj {
    text-decoration-line: none
  }
  .c8l261o {
    font-size: 20px
  }
  .cr2ujrk {
    font-weight: 500
  }
  .c1pd7k79 {
    column-gap: 6px
  }
  .c2gl1gx {
    row-gap: 6px
  }
  .c1x65yvk {
    border-top-left-radius: 12px
  }
  .cv1qn8j {
    border-top-right-radius: 12px
  }
  .c1jon836 {
    border-bottom-left-radius: 12px
  }
  .co5x0w6 {
    border-bottom-right-radius: 12px
  }
  .c5sx8jk {
    height: fit-content
  }
  .c1122adb {
    padding-top: 10px
  }
  .cz7iu34 {
    transition-property: scale
  }
  .c1582rzp:hover {
    scale: 1.03
  }
  .c1nfcmlw {
    width: 21.5px
  }
  .ctg5cc4 {
    margin-bottom: var(--gap1)
  }
  .c1n9f9m4 {
    background-color: var(--back-grey-1)
  }
  .ccjedbp {
    padding-left: 70px
  }
  .c1z0fjz8 {
    padding-right: 80px
  }
  .c9py6bs {
    padding-top: 60px
  }
  .czpkcbu {
    padding-bottom: 40px
  }
  .cz85z79 {
    column-gap: 60px
  }
  .cl4abvr {
    row-gap: 60px
  }
  .c8nmv6p {
    overflow-x: clip
  }
  .cwqnf9o {
    overflow-y: clip
  }
  .c3zzp20 {
    --reel-height: 250px
  }
  .ckpfi68 {
    --reel-width: 150px
  }
  .cy3m4bk {
    --reel-gap: 8px
  }
  .c2z8j1e {
    width: 100%
  }
  .cm8v8zq {
    column-gap: 100px
  }
  .cfbnsol {
    row-gap: 100px
  }
  .c1ehyscn {
    z-index: 10
  }
  .cgdtuiz {
    max-width: 1000px
  }
  .cyuvfar {
    min-width: 300px
  }
  .c1984dmv {
    outline: calc(var(--reel-gap) / 1.2) solid var(--back-grey-1)
  }
  .c58kvwj {
    position: absolute
  }
  .c9g6b5g {
    right: calc(22% - 650px)
  }
  .c13gcvvn {
    top: -196px
  }
  .c1oqdnpz {
    z-index: 0
  }
  .c1ckfy1d {
    rotate: 36deg
  }
  .c1qp0aqz {
    transform-origin: top center
  }
  .c1xos25p {
    border-top-left-radius: 16px
  }
  .c1du959o {
    border-top-right-radius: 16px
  }
  .chqmdb4 {
    border-bottom-left-radius: 16px
  }
  .c1pmzggb {
    border-bottom-right-radius: 16px
  }
  .cn8b0jh {
    column-gap: var(--reel-gap)
  }
  .cywh3a {
    row-gap: var(--reel-gap)
  }
  .c7xu66z {
    outline: var(--reel-gap) solid var(--back-grey-1)
  }
  .c1vn0xiq {
    color: var(--front-3)
  }
  .c4bgnbx {
    border-top-left-radius: var(--rad2)
  }
  .cj82r57 {
    border-top-right-radius: var(--rad2)
  }
  .c14a5ioc {
    border-bottom-left-radius: var(--rad2)
  }
  .cm4j335 {
    border-bottom-right-radius: var(--rad2)
  }
  .c1xz83ly {
    border-top-color: var(--front-3)
  }
  .c12s4iry {
    border-right-color: var(--front-3)
  }
  .c1ixcxvm {
    border-bottom-color: var(--front-3)
  }
  .cct8mvq {
    border-left-color: var(--front-3)
  }
  .c1ntwtne {
    flex-basis: 60%
  }
  .cqietgu {
    width: 60%
  }
  .cdmn2c9 {
    padding: 20px
  }
  .c102e7b2 {
    flex-basis: 0px
  }
  .c1l3m6tn {
    height: 100%
  }
  .cvu8o32 {
    max-width: 430px
  }
  .cwthfpg {
    width: calc(100% + 20px)
  }
  .catlkx8 {
    height: min-content
  }
  .c12zhvo {
    margin-top: 20px
  }
  .cxa4mkp {
    margin-left: 20px
  }
  .ccoo3t2 {
    background-color: rgba(255, 255, 255, 0.17)
  }
  .cu8nwxp {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.15)
  }
  .cfefvni {
    min-width: 360px
  }
  .c1jubil0 {
    transition-property: opacity
  }
  .c18lspnc {
    transition-duration: 300ms
  }
  .crrwaeo {
    opacity: 0
  }
  .cwawr8f {
    width: var(--reel-width)
  }
  .c1qqrgor {
    margin-top: calc(calc(var(--reel-height) + var(--reel-gap)))
  }
  .cy6xfzs {
    margin-top: calc(calc(var(--reel-height) + var(--reel-gap)) / 2)
  }
  .c1rvt1lv {
    margin-top: calc(0 - calc(calc(var(--reel-height) + var(--reel-gap)) / 2))
  }
  .c1a9mgdi {
    height: var(--reel-height)
  }
  .c117si4 {
    object-fit: cover
  }
  .c74spxi {
    filter: sepia(25%)
  }
  .c1i89xtz {
    opacity: 85%
  }
  .cfyrpk4 {
    display: inline-flex
  }
  .c15392bw {
    position: fixed
  }
  .cmyjs62 {
    z-index: 1000
  }
  .czstdzv {
    padding-top: 6px
  }
  .c13f4d8e {
    padding-right: 10px
  }
  .c1ut9lo7 {
    padding-bottom: 6px
  }
  .c1mz59p0 {
    padding-left: 10px
  }
  .c1g0r0c1 {
    right: 16px
  }
  .cuhk95i {
    bottom: -26px
  }
  .c11qj1rn {
    color: rgba(251, 252, 253, 1)
  }
  .c1aq6eep {
    font-family: system-ui, sans-serif
  }
  .c18zghtn {
    font-size: 12px
  }
  .c7amdgj {
    line-height: 1
  }
  .cqw36j6 {
    border-top-left-radius: 9px
  }
  .c68ooh8 {
    border-top-right-radius: 9px
  }
  .clgapjo {
    border-bottom-right-radius: 9px
  }
  .c1q3df6t {
    border-bottom-left-radius: 9px
  }
  .c1ea0099 {
    border: 1px solid transparent
  }
  .cuz3b7n {
    white-space: nowrap
  }
  .c6f08mx {
    display: block
  }
  .c58jkk8 {
    width: 16px
  }
  .c4bwhth {
    height: 16px
  }
  .cck00sw {
    height: 250px
  }
  .c1fxgukz {
    overflow-y: hidden
  }
  .c65isya {
    margin-bottom: calc(calc(2 * var(--gap1)) + var(--topheight) + var(--bottomheight) - 100vh)
  }
  .cve325e {
    column-gap: 12px
  }
  .c14k8w3n {
    row-gap: 12px
  }
  .cjdez0h {
    margin-top: -10px
  }
  .c197jlyy {
    flex-wrap: nowrap
  }
  .c1tmykg6 {
    transition-property: all
  }
  .c121nwe4 {
    transition-duration: 400ms
  }
  .c1lt64h {
    font-family: Tanker, Rubik, Arial, Roboto, sans-serif
  }
  .c12zdnex {
    font-size: 52px
  }
  .c1mngz4m {
    width: 0px
  }
  .c1rwubzf {
    height: 30px
  }
  .cpt3wp3 {
    filter: brightness(50%)
  }
  .ciu9gta {
    padding-top: 69px
  }
  .c1wmsojl {
    color: var(--background)
  }
  .cy2b8wa {
    box-shadow: -1px -2px 3px 0px rgba(0, 0, 0, 0.15) inset, 1px 2px 3px 0px rgba(255, 255, 255, 0.2) inset, 0px 5px 27px 0px rgba(0, 0, 0, 0.17)
  }
  .c1o3ocm4 {
    height: 270px
  }
  .c1q7at0i {
    width: 540px
  }
  .cjpac5y {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0.7deg)
  }
  .c156xldz {
    transition-duration: 350ms
  }
  .c183x3a4:hover {
    scale: 104% 104% 100%
  }
  .cs4zrmt:hover {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-0.5deg)
  }
  .c1o49hcl {
    height: 50px
  }
  .c1dgy9if {
    justify-content: start
  }
  .c1a10q77 {
    padding-left: 18px
  }
  .c6d6cak {
    margin-left: 6px
  }
  .c5dclxw {
    margin-top: 6px
  }
  .c7tvdys {
    margin-right: 6px
  }
  .cx80e38 {
    filter: drop-shadow(-0.75px -1.5px 1.5px rgba(0, 0, 0, 0.15)) drop-shadow(0.75px 1.5px 1.5px rgba(255, 255, 255, 0.25))
  }
  .c9iyznh {
    color: rgba(247, 247, 247, 1)
  }
  .c1xsuntc {
    background-color: rgba(247, 247, 247, 1)
  }
  .cez05na {
    width: 14px
  }
  .cr2fx1c {
    height: 14px
  }
  .c1ydphkn {
    border-top-left-radius: 100%
  }
  .cpy5f0q {
    border-top-right-radius: 100%
  }
  .c119ibn4 {
    border-bottom-left-radius: 100%
  }
  .cqmovsy {
    border-bottom-right-radius: 100%
  }
  .c1jzivuf {
    font-size: 1.6em
  }
  .chpvhw5 {
    font-weight: 400
  }
  .c125l1v1 {
    letter-spacing: 0.03em
  }
  .cxn45mh {
    margin-left: 10px
  }
  .c134tzij {
    margin-bottom: 10px
  }
  .c11cmzdu {
    margin-right: 10px
  }
  .c1qpyqes {
    align-items: stretch
  }
  .c1km7ytz {
    margin-left: 80px
  }
  .cwfxmkq {
    margin-right: 80px
  }
  .c1f0lefa {
    max-width: 800px
  }
  .c7wcowi {
    max-width: 900px
  }
  .cmndei7 {
    padding-top: 16px
  }
  .c8qj03j {
    color: var(--front-1)
  }
  .c1jbi97f {
    font-size: 0.875rem
  }
  .c1lgzutd {
    align-content: center
  }
  .csp87lc {
    margin-bottom: 25px
  }
  .c1lvtt9b {
    column-gap: 5px
  }
  .c12gpzk6 {
    row-gap: 5px
  }
  .c1jsmjku {
    padding: 5px
  }
  .c1sm0mvf {
    border-top-left-radius: calc(var(--rad1) - 5px)
  }
  .cbfwnla {
    border-top-right-radius: calc(var(--rad1) - 5px)
  }
  .c3fz80x {
    border-bottom-right-radius: calc(var(--rad1) - 5px)
  }
  .c6pfjtb {
    border-bottom-left-radius: calc(var(--rad1) - 5px)
  }
  .c1lp7lun {
    padding-top: 0.375rem
  }
  .c3ryv7d {
    padding-right: 0.75rem
  }
  .c1t11c95 {
    padding-bottom: 0.375rem
  }
  .c1kz25wt {
    padding-left: 0.75rem
  }
  .ctdzf0s {
    transition-duration: 150ms
  }
  .c1efnbdc {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .c14hahek {
    transition-delay: 0s
  }
  .ck08swj {
    color: inherit
  }
  .c5atcat {
    white-space: normal;
    white-space-collapse: collapse
  }
  .c13yk87r:focus-visible {
    outline-offset: 2px
  }
  .c12m3onu:focus-visible {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 calc(2px + 2px) rgb(148,163,184)
  }
  .cxbwblh:focus-visible {
    outline: 2px solid transparent
  }
  .co1yi26:disabled {
    pointer-events: none
  }
  .c1vk95sq:disabled {
    opacity: 0.5
  }
  .c4m1pwg[data-state="active"] {
    background-color: rgba(255, 255, 255, 1)
  }
  .c1al8gxi[data-state="active"] {
    color: rgba(2, 8, 23, 1)
  }
  .cws4pam[data-state="active"] {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
  }
  .cqp7jpc:hover {
    background-color: rgba(0, 0, 0, 0.04)
  }
  .c1kvgv3n:hover {
    cursor: pointer
  }
  .ch5gnkm {
    width: 80%
  }
  .c6yvppa {
    margin-top: 35px
  }
  .czga5yl {
    padding-top: 5px
  }
  .c197srfe {
    padding-bottom: 30px
  }
  .cc02v1c {
    margin-bottom: 0em
  }
  .c19b7rd2 {
    font-size: 1em
  }
  .c1ehv6bb {
    flex-basis: 0
  }
  .c18uv5ha {
    --accordion-trigger-icon-transform: 0deg
  }
  .camisri {
    background-color: var(--back-grey-2)
  }
  .c15oj64s {
    margin-top: 5px
  }
  .chfgnq1 {
    margin-bottom: 5px
  }
  .cy7nrqp {
    color: var(--front-2)
  }
  .c13u1sx6 {
    text-overflow: ellipsis
  }
  .c1yyg526 {
    max-width: 100%
  }
  .c4vngu5 {
    outline: 1px solid var(--back-grey-1)
  }
  .cqo7rnh {
    padding: 10px
  }
  .ci1qamt[data-state="open"] {
    --accordion-trigger-icon-transform: 180deg
  }
  .cgt2byq[data-state=open] {
    background-color: transparent
  }
  .cvstnbo[data-state=open] {
    padding-left: 0px
  }
  .cyou3x7[data-state=open] {
    font-size: 24px
  }
  .c1qa96js[data-state=open] {
    outline-style: none
  }
  .cdz972a[data-state=open] {
    font-weight: 700
  }
  .c74re8a[data-state=open] {
    color: var(--front-1)
  }
  .coxlzp3 {
    rotate: var(--accordion-trigger-icon-transform)
  }
  .c178lpvj {
    height: 1rem
  }
  .cbg292c {
    width: 1rem
  }
  .crebcbz {
    line-height: 1.25rem
  }
  .c984udg {
    padding-bottom: 1rem
  }
  .c15qt4h4 {
    padding-left: var(--gap1)
  }
  .c11ua5hp {
    padding-right: var(--gap1)
  }
  .c426or5 {
    padding-right: 0.4em
  }
  .cwti2ho {
    padding-left: 0.4em
  }
  .cvuh4zx {
    display: none
  }
  .c1br4k3t {
    font-size: 17px
  }
  .c17g3f7v {
    padding-left: 1em
  }
  .c1kzhrg {
    white-space: normal
  }
  .cbeiaob {
    margin-top: 50px
  }
  .c16e72yc {
    margin-bottom: 50px
  }
  .c143l1dc {
    width: 145px
  }
  .cbazxvp:hover {
    scale: 1 1
  }
  .c1ydztro:hover {
    width: 296px
  }
  .c1svdh6y {
    column-gap: 10px
  }
  .cft5z6j {
    row-gap: 10px
  }
  .c156d1ag {
    border-top-left-radius: 18px
  }
  .c1uw2bda {
    border-top-right-radius: 18px
  }
  .cnd6e42 {
    border-bottom-left-radius: 18px
  }
  .col1yiq {
    border-bottom-right-radius: 18px
  }
  .corpumv {
    padding-top: 3px
  }
  .c1q3q0jq {
    padding-bottom: 3px
  }
  .c1rdt54o {
    padding-right: 3px
  }
  .c5v0tdv {
    width: 310px
  }
  .c5wuwv0 {
    justify-content: end
  }
  .cgam0gy {
    border: 4px solid var(--back-grey-1)
  }
  .ca2fle4 {
    margin-top: 0em
  }
  .c5fuofq {
    direction: rtl
  }
  .cui8ecu {
    column-gap: 15px
  }
  .c1qvvqb3 {
    row-gap: 15px
  }
  .c1bf26ov {
    width: 125px
  }
  .cpc2g7h {
    bottom: 0px
  }
  .c1kppqxz {
    right: -39px
  }
  .c1lxqyue {
    width: 260px
  }
  .c1bblaxa {
    opacity: 0.07
  }
  .co345il {
    filter: blur(2px)
  }
  .c1t205vl {
    height: 0px
  }
  .cdhy4s8 {
    line-height: 1.3
  }
  .c1wauoq4 {
    margin-top: 13%
  }
  .cvxkwqs {
    margin-top: 0%
  }
  .c93vxni {
    text-align: start
  }
  .c1k1kr9l {
    width: 30%
  }
  .c1lwoxcv {
    min-width: 145px
  }
  .cc8e026 {
    max-width: 180px
  }
  .c5pdwyd {
    color: currentColor
  }
  .c4eoysd {
    max-width: max(130vh, 750px)
  }
  .c1jg0tfs {
    top: 50%
  }
  .c9q7jzv {
    left: 50%
  }
  .c13w5hsy {
    width: 100vw
  }
  .c1sm4x0m {
    height: 100vh
  }
  .cgqm29d {
    background-color: rgba(0, 0, 0, 0.38)
  }
  .cj1xbu9 {
    translate: -50% -50% 0px
  }
  .ce0cz3j {
    -webkit-user-select: all;
    user-select: all
  }
  .c15ikqm {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
  }
  .cxkmob3 {
    margin-left: 150px
  }
  .cdjqerl {
    margin-right: 150px
  }
  .cy3hgi9 {
    max-width: 600px
  }
  .c1lz099s {
    z-index: 11
  }
  .c1duohc3 {
    margin-bottom: 100px
  }
  .c1gpt9gq {
    max-width: 1060px
  }
  .c1xawg3x {
    margin-left: 40px
  }
  .c1j8f4ro {
    margin-right: 40px
  }
  .c4qqqhz {
    align-self: center
  }
  .ccxbyd9 {
    margin-left: calc(var(--gap1) * 3)
  }
  .ctslah9 {
    margin-right: calc(var(--gap1) * 3)
  }
  .c5fu1hc {
    width: 520px
  }
  .c5t1rtw {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-0.5deg)
  }
  .c1sug8fi {
    min-width: 520px
  }
  .cvku5ok {
    margin-bottom: 24px
  }
  .c1prl6qi {
    column-gap: 40px
  }
  .c15b9v9z {
    row-gap: 40px
  }
  .cuqkdit {
    width: 94vw
  }
  .c1bzjoez {
    margin-left: 3%
  }
  .c1ac3qw6 {
    margin-right: 3%
  }
  .cu7mlpt {
    font-weight: 700
  }
  .czeluz0 {
    font-size: 23px
  }
  .c1syq5xc {
    font-size: 72px
  }
  .c1f9u155 {
    line-height: 1.05
  }
  .ct0y9nq {
    max-width: 687px
  }
  .cwdskt4 {
    margin-top: 90px
  }
  .cy2vnym {
    margin-right: 20px
  }
  .c1vi0mt {
    flex-wrap: wrap
  }
  .cc4bk5j {
    margin-top: 23px
  }
  .c1o50h06 {
    min-width: 330px
  }
  .c1et1u9b {
    max-width: 450px
  }
  .c1io07hm {
    flex-basis: 1px
  }
  .c1dsvsvh {
    margin-bottom: 20px
  }
  .cly2rzj {
    font-size: 79px
  }
  .c4jdyrv {
    margin-bottom: 140px
  }
  .c1yvvb7j {
    max-width: 680.65px
  }
  .cj7bt5u {
    margin-top: 60px
  }
  .c1p34zf0 {
    max-width: 1350px
  }
  .c8py5un {
    margin-left: 0.5em
  }
  .cr9ub4b {
    min-width: 320px
  }
  .c153lglm {
    max-width: 723px
  }
  .cq67jvo {
    align-items: end
  }
  .c1d1pidh {
    aspect-ratio: 1
  }
  .cj8tshh {
    width: 115px
  }
  .c1iwmpjl {
    opacity: 0.08
  }
  .c1r67alc {
    align-self: flex-start
  }
  .c19h37rc {
    height: 70px
  }
  .cx911xm {
    max-width: 1800px
  }
  .c5zf3td {
    column-gap: 30px
  }
  .c1bdekej {
    row-gap: 30px
  }
  .cgykfac {
    order: 1
  }
  .c1l00ka2 {
    font-weight: 600
  }
  .c1ozmz5d {
    color: rgba(0, 0, 0, 0.48)
  }
  .ch9rsc5 {
    padding-left: 5px
  }
  .c1w0lkxn {
    padding-right: 5px
  }
  .c1et34yr:hover {
    color: rgba(255, 255, 255, 0.91)
  }
  .cbahl6h:hover {
    color: rgba(0, 0, 0, 0.48)
  }
  .c5mlbae {
    z-index: 50
  }
  .cfjpsss {
    color: rgba(2, 8, 23, 1)
  }
  .cz5lin5:hover {
    color: var(--front-1)
  }
  .ciidiay {
    height: 2.5rem
  }
  .c1kf82bd {
    width: 2.5rem
  }
  .c7jsqgj {
    padding-top: 0px
  }
  .ctcp1cq {
    padding-right: 0.375rem
  }
  .c1r8lktc {
    padding-bottom: 0px
  }
  .c1t9gjz2 {
    padding-left: 0.375rem
  }
  .c7jkqej {
    background-color: transparent
  }
  .cn1fibt {
    border-top-style: none
  }
  .cnwk8w7 {
    border-right-style: none
  }
  .c10ybtws {
    border-left-style: none
  }
  .cdxgxee {
    border-bottom-style: none
  }
  .c12qysi7 {
    top: 0
  }
  .c1jkbqq5 {
    right: 0
  }
  .ch8lzlo {
    bottom: 0
  }
  .c13hlxg9 {
    left: 0
  }
  .c17brv9o {
    background-color: rgba(0, 0, 0, 0.16)
  }
  .c1bm3fk1 {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
  }
  .c7na04l {
    row-gap: 1rem
  }
  .ctnx82u {
    column-gap: 1rem
  }
  .cngdgqi {
    background-color: rgba(255, 255, 255, 1)
  }
  .cs20kd {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
  }
  .cql21mx {
    max-width: 85vw
  }
  .c1a71d48 {
    overflow-x: auto
  }
  .c18s1ywe {
    overflow-y: auto
  }
  .c1log017 {
    width: 25%
  }
  .ctbdlr1 {
    border: 1px solid rgba(226, 232, 240, 1)
  }
  .c1kek3tg {
    padding: 1.5rem
  }
  .c15abkx5 {
    row-gap: 0.5rem
  }
  .cfp2jcf {
    column-gap: 0.5rem
  }
  .c1ujy25t {
    font-size: 13px
  }
  .c1rb689p {
    column-gap: 4px
  }
  .c1hbxsx0 {
    row-gap: 4px
  }
  .cfx1lak {
    align-items: start
  }
  .c1sy2opm {
    align-self: auto
  }
  .c9jo736 {
    right: 1.5rem
  }
  .crviqmx {
    top: 1.5rem
  }
  .c40fhby {
    border-top-left-radius: 0.125rem
  }
  .c1koy2kb {
    border-top-right-radius: 0.125rem
  }
  .cvrpl4x {
    border-bottom-right-radius: 0.125rem
  }
  .c1uib4vc {
    border-bottom-left-radius: 0.125rem
  }
  .c1qsi9u3 {
    height: 1.5rem
  }
  .c1s85o6f {
    width: 1.5rem
  }
  .cq3zzid {
    outline: medium none currentcolor
  }
  .cjdtlt6 {
    border: 0 none currentcolor
  }
  .cxudh90:hover {
    opacity: 1
  }
  .c1s9qe0r {
    font-size: 8.92em
  }
  .cz03vb2 {
    display: inline-block
  }
  .czyi9o9 {
    opacity: 0.06
  }
  .cc96m4b {
    width: 500px
  }
  .c18d5cyi {
    margin-right: 56px
  }
  .c1yssf23 {
    height: 197px
  }
  .c7898it {
    width: min-content
  }
  .c8ao5vx {
    opacity: 0.6
  }
  .c1fzztwi {
    padding-left: 0em
  }
  .c1jeji4x {
    border-bottom-style: solid
  }
  .c1og6ug8 {
    width: 40px
  }
  .c1yzzewo {
    border-top-width: 1.5px
  }
  .c1cck0k8 {
    border-right-width: 1.5px
  }
  .c1l807ik {
    border-left-width: 1.5px
  }
  .c189xzjf {
    border-bottom-width: 1.5px
  }
  .c10n22ue {
    opacity: 0.5
  }
  .cmvyqw5 {
    width: fit-content
  }
  .c3gx87z:hover {
    scale: 1.05
  }
  .c1g1752z {
    width: 70px
  }
  .cgmpm3f {
    --img-scale: 1
  }
  .czvb4c7 {
    color: rgba(80, 80, 80, 1)
  }
  .c5ysdna {
    column-gap: 88px
  }
  .c10qj6hj {
    row-gap: 88px
  }
  .cywyj2c {
    width: 516px
  }
  .c615b72 {
    translate: 0px -28px 0px
  }
  .c1sqf2ek {
    column-gap: 72px
  }
  .c10pyque {
    row-gap: 72px
  }
  .cz0xufp {
    border-top-color: rgba(107, 107, 107, 1)
  }
  .c9st17j {
    border-right-color: rgba(107, 107, 107, 1)
  }
  .c11jzf7t {
    border-bottom-color: rgba(107, 107, 107, 1)
  }
  .c1335tz {
    border-left-color: rgba(107, 107, 107, 1)
  }
  .cqiqnof {
    color: rgba(51, 51, 51, 1)
  }
  .c1t9afk7 {
    font-style: normal
  }
  .c1p2ptee {
    cursor: pointer
  }
  .c10tpvj3 {
    color: rgba(58, 58, 58, 1)
  }
  .c14xzzjo {
    margin-top: 1.5em
  }
  .c2oalyv {
    height: 81px
  }
  .ce9edmz {
    translate: 0px 28px 0px
  }
  .c10jlucd {
    z-index: unset
  }
  .csljhnv {
    max-width: 2317px
  }
  .c19f83kh {
    margin-top: 40px
  }
}
@media all and (max-width: 991px) {
  :root {
    color: var(--front-1)
  }
  .c1qvfclh {
    --bottomheight: 48vh
  }
  .c1igvbb7 {
    --topheight: 44vh
  }
  .c1frygxh {
    height: calc(80vh - calc(2 * var(--gap1)))
  }
  .cb4z2jo {
    max-height: 770px
  }
  .cxh7lm9 {
    min-height: 340px
  }
  .cbcspme {
    min-width: 420px
  }
  .codk3bn {
    max-height: 480px
  }
  .c1y28bfl {
    min-height: 410px
  }
  .cpr5h0z {
    margin-bottom: calc(var(--gap1) + var(--topheight) + var(--bottomheight) - 78vh)
  }
  .c16o2wqc {
    padding-left: 55px
  }
  .cwwztsj {
    padding-right: 70px
  }
  .c11mvqgx {
    column-gap: 50px
  }
  .cfml0nf {
    row-gap: 50px
  }
  .ccmrhvk {
    right: -409px
  }
  .cm5zmxq {
    padding-left: 10px
  }
  .cvr3dv5 {
    padding-right: 10px
  }
  .ctdgi7y {
    flex-basis: 28.8%
  }
  .c11gzzxy {
    justify-content: center
  }
  .cc356ws {
    flex-direction: column
  }
  .c1p5610w {
    visibility: collapse
  }
  .crsc1f9 {
    flex-grow: 0
  }
  .c1c7zter {
    flex-shrink: 0
  }
  .c5xw8br {
    width: 0px
  }
  .cbg59jt {
    display: none
  }
  .cyoabi7 {
    max-width: 100%
  }
  .c1lot409 {
    max-width: 251px
  }
  .ccjnvj1 {
    width: 95%
  }
  .c1mkam2s {
    text-align: center
  }
  .crc7qf5 {
    margin-top: 4%
  }
  .c14e6dcj {
    display: block
  }
  .c638992 {
    order: 1
  }
  .ccyo9a2 {
    flex-basis: 0px
  }
  .c1s1n1bm {
    right: 64px
  }
  .c13qonci {
    bottom: 57px
  }
  .c1or6680 {
    margin-left: 10px
  }
  .c1g5kku5 {
    margin-right: 10px
  }
  .cngynuq {
    transition-property: scale
  }
  .c14r7o8r {
    transition-duration: 600ms
  }
  .c1fsw25j {
    transition-timing-function: ease
  }
  .c12tny8 {
    transition-delay: 0ms
  }
  .cly6kwb {
    transition-behavior: normal
  }
  .cnaoejs:hover {
    scale: 105% 105% 100%
  }
  .c1ai6gqv {
    font-size: 24px
  }
  .cf92qlo {
    font-size: 0.72em
  }
  .c1p20m63 {
    margin-left: 0.2em
  }
  .c1drxwav {
    font-size: 6.35em
  }
  .c1qkexhc {
    width: 369px
  }
  .c1e930on {
    height: 166px
  }
  .cloqs28 {
    column-gap: 91px
  }
  .c1euhnlj {
    row-gap: 91px
  }
  .cbv71vy {
    height: 163px
  }
  .cql385l {
    translate: 0px -87px 0px
  }
  .c1bbxo3g {
    column-gap: 0px
  }
  .c1pnodu0 {
    row-gap: 0px
  }
  .c9m7qox {
    margin-right: 0px
  }
  .c2qrd9k {
    height: 68px
  }
  .cghtjis {
    translate: -142px -83px 0px
  }
}
@media all and (max-width: 767px) {
  :root {
    font-size: 18px
  }
  .c88f0ss {
    --bottomheight: 560px
  }
  .c1xzxpj4 {
    --topheight: 500px
  }
  .cnva8sp {
    height: 800px
  }
  .c13m9ff {
    max-height: none
  }
  .cb9skoy {
    min-height: auto
  }
  .c3knbg7 {
    flex-direction: column
  }
  .c16m1c5v {
    margin-bottom: 258px
  }
  .c1bck0pu {
    font-size: 1.2em
  }
  .cpyan2s {
    font-size: 18px
  }
  .c9feaj6 {
    column-gap: 20px
  }
  .cxpcy99 {
    row-gap: 20px
  }
  .c1ive82f {
    width: 100%
  }
  .c17vhk5v {
    flex-basis: 16%
  }
  .c1wuzpx5 {
    opacity: 20%
  }
  .c1ldi832 {
    height: 220px
  }
  .c1nx261z {
    font-size: 45px
  }
  .chjepeg {
    width: 420px
  }
  .c1q98tuy {
    margin-left: 50px
  }
  .c19a8u9t {
    margin-right: 50px
  }
  .c142qj80 {
    column-gap: 3px
  }
  .c15igavi {
    row-gap: 3px
  }
  .cycv0tm {
    display: none
  }
  .c1fri8go {
    flex-wrap: wrap
  }
  .c1jj1apw {
    width: min-content
  }
  .c15o04ri:hover {
    width: 281px
  }
  .c1lvim05 {
    width: 295px
  }
  .ck7n286 {
    opacity: 0.08
  }
  .c12tkve4 {
    max-width: 400px
  }
  .c5k3a4h {
    width: 90%
  }
  .c6piima {
    margin-left: auto
  }
  .c1sfn1pe {
    right: 220px
  }
  .c5frzz4 {
    bottom: 97px
  }
  .c1sdo29q {
    width: 440px
  }
  .c1fgu9om {
    min-width: 440px
  }
  .c1nndd8u {
    font-size: 17px
  }
  .casuw30 {
    font-size: 65px
  }
  .cgrcr0q {
    max-width: 700px
  }
  .c1lhrjj6 {
    font-size: 55px
  }
  .c8chaf1 {
    column-gap: 13px
  }
  .crymv6m {
    row-gap: 13px
  }
  .c1tj415q {
    font-size: 15px
  }
  .c1kvebu6 {
    font-size: 13px
  }
  .celm1jm {
    font-size: 4.64em
  }
  .c16a9dxw {
    margin-top: 0.97em
  }
  .cbb1cch {
    position: absolute
  }
  .ct260lj {
    margin-left: 34%
  }
  .c4gyptv {
    width: 69%
  }
  .c1p1mrll {
    margin-top: -64px
  }
  .cuekr74 {
    column-gap: 0px
  }
  .cmho28s {
    row-gap: 0px
  }
  .c1yjp7xb {
    margin-right: 0px
  }
  .c1s4e4no {
    width: 0px
  }
  .c5i7s9p {
    height: 250px
  }
  .cpdl5o6 {
    opacity: 0.2
  }
  .c1yvsbq5 {
    translate: -148px -19px 0px
  }
  .cn4tmju {
    --img-scale: 0.6
  }
}
@media all and (max-width: 479px) {
  :root {
    --gap1: 10px;
    --gap2: 7px;
    --rad1: 16px;
    --rad2: 10px
  }
  .cu2cy9t {
    --bottomheight: 485px
  }
  .c1towtha {
    --topheight: 450px
  }
  .cm98duv {
    height: 710px
  }
  .c1g2lc43 {
    min-width: 300px
  }
  .c4iwcdt {
    width: 90%
  }
  .c2i8l03 {
    margin-bottom: 231px
  }
  .c16hxlzn {
    margin-left: 30px
  }
  .c1c73s0v {
    margin-right: 30px
  }
  .c7u4ssh {
    font-size: 1.1em
  }
  .cagydry {
    flex-basis: 8%
  }
  .c1uz2t7q {
    min-height: 250px
  }
  .c4psa79 {
    height: fit-content
  }
  .chvq5aa {
    padding-top: 10px
  }
  .chtpppz {
    padding-bottom: 10px
  }
  .c7tuxro {
    font-size: 40px
  }
  .cgykxgu {
    width: 38px
  }
  .crl8cro {
    padding-left: 3px
  }
  .ct6fd0n {
    width: 330px
  }
  .c19raolx {
    height: 219px
  }
  .ct5uc8i {
    max-width: 90vw
  }
  .cnurt1a {
    margin-left: 20px
  }
  .c1wzvl6u {
    margin-right: 20px
  }
  .c1cshlcb {
    width: min-content
  }
  .cde37yz {
    font-size: 0.95rem
  }
  .ca1ntyv {
    align-items: stretch
  }
  .cwsyfmt {
    flex-direction: column
  }
  .cgmjq0a {
    row-gap: 0px
  }
  .c1xmffmh {
    column-gap: 0px
  }
  .ckiq6wr {
    display: block
  }
  .cgjpuuk {
    display: none
  }
  .c1ouh616 {
    min-width: 371px
  }
  .cqphno7 {
    font-size: 14px
  }
  .cdzgsn1 {
    font-size: 57px
  }
  .cqxegdb {
    max-width: 365px
  }
  .c8h98z5 {
    font-size: 16px
  }
  .c1xrfqic {
    font-size: 50px
  }
  .c19dc97m {
    height: 60px
  }
  .ch588tu {
    visibility: collapse
  }
  .cd1c1x2 {
    width: 0px
  }
  .co3wgvm {
    position: absolute
  }
  .cjdg5q7 {
    order: 0
  }
  .c12eb7ae {
    display: inline-flex
  }
  .c183bdo0 {
    display: flex
  }
  .c1s3e5c3 {
    transition-property: all
  }
  .c1ort9jz {
    transition-duration: 200ms
  }
  .cuvlntl {
    transition-timing-function: ease
  }
  .c18vlwwr {
    transition-delay: 0ms
  }
  .c17sz26a {
    transition-behavior: normal
  }
  .cng5oj6 {
    width: 85%
  }
  .c39ez8k {
    margin-top: 30px
  }
  .cnb2c0y {
    font-size: 3.05em
  }
  .ctp37e3 {
    margin-top: 1.67em
  }
  .crgfw76 {
    margin-left: 9%
  }
  .c1mwgji1 {
    width: 101.8%
  }
  .c1yp8zjv {
    margin-top: 93px
  }
  .cqyp7hg {
    height: 78%
  }
  .c1moglug {
    align-self: center
  }
  .c1wjaqd0 {
    width: 50px
  }
  .cbajk5q {
    height: 136px
  }
  .c7dfb6a {
    opacity: 0.2
  }
  .cqy2tuz {
    translate: -89px -290px 0px
  }
  .c14xcs5y {
    --img-scale: 0.5
  }
}